.box{
    position: fixed;
    width: 400px;
    height: 930px;
    background: #ff9d70;
}
.image{
position: absolute;
top: 300px;
left: 800px;


}
 
.image2 {
    position: relative; 
    margin-top: 20px;   
    left: 20px;
    height: auto;
    cursor: pointer;
}

.image3 {
    position: relative;
    margin-top: 40px;   
    left: 20px;
    height: auto;
    cursor: pointer;
}

.button{
    position:absolute;
    top: 800px;
left: 900px;
}
